@import "tailwindcss";
@plugin "daisyui";


html{
    scroll-behavior: smooth;

}

/* body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  
  
} */

/* *{  
  padding: 0px;
  margin: 0;
  box-sizing: border-box;


} */

/* .containet{
  width: 100%;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}  */

/* untuk ke mobile  */


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
    animation: marquee 20s linear infinite;
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
    -webkit-animation: marquee 20s linear infinite;
}


